@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

.logo{
    width: 200px;
}

.user{
    width: 50px;
    margin-right: 20px;
}

.headphones{
    width: 50px;
}

.glass{
    width: 50px;
}

.calendar{
    width: 50px;
}

.but1{
    margin-left: 500px;
    margin-right: 75px;
    margin-bottom: 50px;
    width: 125px;
    height: 40px;
    background-color: white;
    border-color: green;
    color: green;
    font-family:'Roboto', sans-serif;
}

.about{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-size:0 !important;
    margin-right: 75px;
  }