@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 200px;
}

.user{
    width: 50px;
    margin-right: 20px;
}

.headphones{
    width: 50px;
}

.glass{
    width: 25px;
    position: relative;
    top: -520px;
    left: -492px;
    z-index: 3;
}

.calendar{
    width: 60px;
    position: relative;
    top: -505px;
    left: -170px;
    z-index: 3;
}

.but1{
    margin-left: 500px;
    margin-right: 75px;
    margin-bottom: 50px;
    width: 125px;
    height: 40px;
    background-color: white;
    border: 2px solid #348053;
    color: #348053;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.about{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    font-size:0 !important;
    margin-right: 75px;
  }

.rectangle{
    margin-top: 25px;
    z-index: 2;
    position: relative;
    top: -500px;
    left: 240px;
    width: 750px;
    height: 70px;
    border: 0;
}

.back{
    width: 1250px;
    height:500px;
    margin-left: px;
    z-index: 1;
}

.stick{
    height: 70px;
    width: 15px;
    position: relative;
    top: -500px;
    left: -250px;
    z-index: 3;
}

.location{
    margin: 0;
    margin-bottom: 5px;
    z-index: 3;
    position: relative;
    top: -560px;
    left: 300px;
}

.search{
    margin: 0;
    z-index: 3;
    position: relative;
    top: -560px;
    left: 300px;
    color: gray;
}

.when{
    margin: 0;
    margin-bottom: 5px;
    z-index: 3;
    position: relative;
    top: -605px;
    left: 680px;
    
}

.time{
    margin: 0;
    z-index: 3;
    position: relative;
    top: -605px;
    left: 680px;
    color: gray;
}

.explore{
    z-index: 3;
    position: relative;
    top: -645px;
    left: 850px;
    height: 30px;
    width: 125px;
    background-color: #348053;
    border: 2px solid #348053;
    color: white;
    cursor: pointer;
}